.timelines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 300px;
    padding: 120px 80px 50px 110px;
    overflow: hidden;
    /* margin: 0 0 -220px 0; */
}

.timelineHeading{
    font-size: 150px;
}

.timelineOne{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 50px;
}

.timelineOneImg{
    position: relative;
}

.timelineOneYear{
    position: absolute;
    /* top: -15%;
    left: 36%; */
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    font-size: 45px;
}

.timelineOne .timelineLogo{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px 0 0 20px;
    box-shadow: 1px 2px 0px 4px;
}

.timelineOneDetails{
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timelineOneDetails .timelineOneName{
    font-size: 18px;
}

.timelineOneDetails .timelineOneSubText{
    /* font-size: 18px; */
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    color: black;
    width: 70%;
}


.timelineTwo{
    display: flex;
    justify-content: space-between;
    height: 60%;
    /* margin: 0 0 -200px 0; */
    /* align-items: center; */
    /* gap: 50px; */
}

.timelineTwoImg{
    position: relative;
}

.timelineTwoYear{
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    font-size: 45px;
}

.timelineTwo .timelineLogo{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px 0 0 20px;
    box-shadow: 1px 2px 0px 4px;
}

.timelineTwoDetails{
    padding: 20px 0 0 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timelineTwoDetails .timelineTwoName{
    font-size: 18px;
}

.timelineTwoDetails .timelineTwoSubText{
    /* font-size: 18px; */
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    color: black;
    /* width: 70%; */
}

.timelineOneBottleImg{
    width: 40%;
}

.timelineTwoBottleImg{
    width: 55%;
}

.timelineOneBottleLogo{
    position: relative;
    top: -130px;
    left: 0;
    width: 70%;
    transform: rotateZ(10deg);
}

.timelineTwoBottleLogo{
    position: relative;
    top: -170px;
    left: 100px;
    width: 50%;
    transform: rotateZ(-10deg);
}

@media (max-width: 1200px) {
  .timelines {
    gap: 180px;
    padding: 100px 40px 0 100px;
  }

  .timelineHeading {
    font-size: 100px;
  }
}

@media (max-width: 992px) {
  .timelines {
    gap: 180px;
    padding: 100px 40px;
  }

  .timelineOne,
  .timelineTwo {
    flex-direction: column;
    gap: 40px;
  }

  .timelineOneDetails,
  .timelineTwoDetails {
    width: 100%;
  }

  .timelineOneBottleImg,
  .timelineTwoBottleImg {
    display: none;
  }
}

/* ≤ 768px (tablets) */
@media (max-width: 768px) {
  
}

/* ≤ 576px (mobile) */
@media (max-width: 576px) {
  
}

/* ≤ 480px (Small Device) */
@media (max-width: 480px) {
  .timelineHeading {
    font-size: 60px;
    text-align: center;
  }

  .timelineLogo {
    width: 120px;
    height: 120px;
  }
}