.header {
  font-family: fa-crimson;
  font-size: 150px;
  min-height: 100vh; /* full height */
  border-bottom: 1px solid #b67c4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stampImg {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.stampLogo { 
  width: 115px; 
  transform: rotateZ(-15deg); 
}

.heading { display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;}
.headingOne, .headingTwo { line-height: 0.8; }


/* @media (max-width: 1200px) {
  .header { font-size: 100px; padding: 120px 20px; }
  .stampLogo { width: 90px; }
} */

/* ≤ 992px (laptops) */
@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .header { font-size: 70px; }
  .headingOne, .headingTwo { line-height: 1; }
}

/* ≤ 576px (mobile) */
@media (max-width: 576px) {

}

@media (max-width: 480px) {
  .header { font-size: 50px; }
}
