*{
    margin: 0;
    padding: 0;
}

.navbar{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40%;
    padding: 20px 50px;
    border-bottom: 1px solid #b67c4d;
    background-color: #ebdfc7;
    position: fixed;
    z-index: 3;
    
}

.logoName{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

.navbarItems{
    font-family: "Londrina Solid", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
}

.navbarItems .navbarItem{
    letter-spacing: 1px;
    /* opacity:0 */
}

.navbarItems .navbarItem a{
    text-decoration: none;
    color: #b9631e;
    font-weight: 400;
    cursor: pointer;
}

/* ≤ 1200px  */
@media (max-width: 1200px) {


}

/* ≤ 992px (laptops) */
@media (max-width: 992px) {
  .navbar {
    justify-content: space-between;
    padding: 15px 25px;
    gap: 0;
  }

  .navbarItems {
    gap: 40px;
  }

  .logoName {
    font-size: 26px;
  }
}

@media (max-width: 768px) {

  .logoName{
    font-size: 35px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbarItems {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

/* ≤ 576px (mobile) */
@media (max-width: 576px) {
  
}

@media (max-width: 480px) {

  

}